# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
.python-version

# Environment variables
.env

# Pytest & Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE files
.vscode/
.idea/

# OS specific
.DS_Store